@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default transition */
.transition-any {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Overriding classes */
.smooth {
  transition-duration: 500ms;
}

.slow {
  transition-duration: 1000ms;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Carousel */
.zu0vm9576q {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #000000 100%);
}
